<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
    <meta charset="UTF-8">
    <title>Game Over title</title>
</head>
<body>
    <div align="center">
        <h1>Guess the Number Game</h1>
        <h2>***** Game over *****</h2>
        <h3 th:text="${__${T(nl.kolvoort.udemy.spring5.util.AttributeNames).RESULT_MESSAGE}__}">
            Result Message Content
        </h3>
        <h3>
            <a th:href="@{__${T(nl.kolvoort.udemy.spring5.util.GameMapping).RESTART}__}">
                Play Again
            </a>
        </h3>
        <h3>
            <a th:href="@{__${T(nl.kolvoort.udemy.spring5.util.GameMapping).HOME}__}">
                Home
            </a>
        </h3>
        <footer th:replace="~{fragments/footer :: footerFragment}"><p>Footer placeholder</p></footer>
    </div>
</body>
</html>